body{
  display:flex;
  justify-content:center;
  align-items: center;
  margin:0;
  padding:0;
  height:100vh;
  overflow:hidden;
}

.drag-drop{
  display:flex;
  flex-direction:column;
  justify-content:center;
  
}

.drag-drop iframe{
  border:none;
}

.music-bar{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}